    <div class="chat chat-start" id="giga-chad-initial-message" style="opacity: 1;">
      <div class="chat-image avatar">
        <div class="w-10 rounded-full">
          <img src="/static/img/avatar-10x-giga-chad.85eb220f3dc1.webp" alt="Start Avatar">
        </div>
      </div>
      <div class="chat-bubble bg-base-100/60">
        Hey chief. I'm here to help you become a 10x engineer.
      </div>
    </div>