---
// password_reset_request.astro
// Handles password reset request logic. Sends an email to reset the password.
// Displays errors via <FormError> component.

import { sendPasswordResetEmail } from "../../auth";
import Modal from "../../components/Modal.astro";
import FormError from "../../components/auth/FormError.astro";

export const prerender = false;
export const partial = true;

const { request, redirect, url } = Astro;

let error = null;

if (request.method === 'POST') {
  const formData = await request.formData();
  const email = formData.get("email")?.toString();

  const result = await sendPasswordResetEmail(
      email, `${url.origin}/auth/password_reset_set_new/`
  );

  error = result.error; // Assign error if it exists

  if (!error) {
    return redirect('/auth/password_reset_requested/');
  }
}
---
<Modal>
  <h3 class="font-bold text-xl mb-6">
    Reset Your Password
  </h3>

  <form hx-post="/auth/password_reset_request/"
        hx-swap="outerHTML"
        hx-target=".modal"
        data-astro-reload>

    {!!error && <FormError error={error} />}

    <input type="email" name="email" placeholder="Email address" autocomplete="email" maxlength="320"
           class="input input-bordered input-ghost w-full mb-4">

    <button class="btn btn-warning w-full mb-4">
      Send Reset Link
    </button>

    <span class="text-sm font-light text-primary-600">
      Remembered your password?
      <a id="back-to-login-link"
         hx-get="/auth/login/"
         hx-swap="outerHTML"
         hx-target=".modal"
         class="font-medium text-primary-content hover:underline hover:cursor-pointer">
        Sign in
      </a>
    </span>
  </form>
</Modal>