---
import Modal from "../../components/Modal.astro";

export const prerender = false
export const partial = true
---
<Modal>
    <h3 class="font-bold text-xl mb-4">
        Invalid or Expired Link
    </h3>

    <div>
        <p class="mb-4">
            The password reset link you clicked is invalid or has expired.
        </p>
    </div>
</Modal>
