---
// password_reset_requested.astro
// Displays a message to the user after a password reset request is made.
// Informs about the email sent for password reset.

import Modal from "../../components/Modal.astro";

export const prerender = false;
export const partial = true;
---

<Modal>
  <h3 class="mb-4 text-xl font-bold">Password Reset</h3>

  <div>
    <p class="mb-4">
      Hey chief, I just emailed a link to reset your password. If you don't see
      the email, check your spam folder.
    </p>
    <p class="text-sm font-light">
      Want to try signing in again?
      <a
        id="back-to-login-link"
        hx-get="/auth/login/"
        hx-swap="outerHTML"
        hx-target=".modal"
        class="font-medium text-primary-content hover:cursor-pointer hover:underline"
      >
        Sign in
      </a>
    </p>
  </div>
</Modal>
