---
// password_reset_request.astro
// Handles password reset request logic. Sends an email to reset the password.
// Displays errors via <FormError> component.

import { sendPasswordResetEmail } from "../../auth";
import Modal from "../../components/Modal.astro";
import FormError from "../../components/auth/FormError.astro";

export const prerender = false;
export const partial = true;

const { request, redirect, url } = Astro;

let error = null;

if (request.method === "POST") {
  const formData = await request.formData();
  const email = formData.get("email")?.toString();

  const result = await sendPasswordResetEmail(
    email,
    `${url.origin}/auth/password_reset_set_new/`,
  );

  error = result.error; // Assign error if it exists

  if (!error) {
    return redirect("/auth/password_reset_requested/");
  }
}
---

<Modal>
  <h3 class="mb-6 text-xl font-bold">Reset Your Password</h3>

  <form
    hx-post="/auth/password_reset_request/"
    hx-swap="outerHTML"
    hx-target=".modal"
    data-astro-reload
  >
    {!!error && <FormError error={error} />}

    <input
      type="email"
      name="email"
      placeholder="Email address"
      autocomplete="email"
      maxlength="320"
      class="input input-bordered input-ghost mb-4 w-full"
    />

    <button class="btn btn-warning mb-4 w-full"> Send Reset Link </button>

    <span class="text-primary-600 text-sm font-light">
      Remembered your password?
      <a
        id="back-to-login-link"
        hx-get="/auth/login/"
        hx-swap="outerHTML"
        hx-target=".modal"
        class="font-medium text-primary-content hover:cursor-pointer hover:underline"
      >
        Sign in
      </a>
    </span>
  </form>
</Modal>
