---
// password_reset_success.astro
// Informs the user about successful password reset.
// Automatically refreshes the page after a short delay.

import Modal from "../../components/Modal.astro";

export const prerender = false;
export const partial = true;
---
<Modal>
  <h3 class="font-bold text-xl mb-4">
    Password Reset Success
  </h3>

  <div>
    <p class="mb-4">
      Congratulations! Your password has been reset.
    </p>
    <p>
      Refreshing the page in 3 seconds...
    </p>
    <script is:inline>
      setTimeout(() => {
        window.location.reload();
      }, 3000);
    </script>
  </div>
</Modal>
