---
// password_reset_invalid.astro
// Displays an invalid/expired link message for password resets.

import Modal from "../../components/Modal.astro";

export const prerender = false;
export const partial = true;
---

<Modal>
  <h3 class="mb-4 text-xl font-bold">Invalid or Expired Link</h3>

  <div>
    <p class="mb-4">
      The password reset link you clicked is invalid or has expired.
    </p>
  </div>
</Modal>
