---
import { supabase } from "../../lib/supabase";
import Modal from "../../components/Modal.astro";
import {redirectWithHtmx} from "../../utils";

export const prerender = false
export const partial = true

const { request, redirect, url} = Astro;

if (request.method === 'POST') {
  const formData = await request.formData()
  await supabase.auth.resetPasswordForEmail(
      formData.get('email'),
      { redirectTo: `${url.origin}/auth/password_reset_set_new/` }
  )
  return redirect('/auth/password_reset_requested/')
}
---

<Modal>
  <h3 class="font-bold text-xl mb-6">
    Reset Your Password
  </h3>

  <form hx-post="/auth/reset_password/"
        hx-swap="outerHTML"
        hx-target=".modal"
        data-astro-reload>

    <input type="email" name="email" placeholder="Email address" autocomplete="email" maxlength="320"
           class="input input-bordered input-ghost w-full mb-4">

    <button class="btn btn-warning w-full mb-4">
      Send Reset Link
    </button>

    <span class="text-sm font-light text-primary-600">
      Remembered your password?
      <a id="back-to-login-link"
         hx-get="/auth/login/"
         hx-swap="outerHTML"
         hx-target=".modal"
         class="font-medium text-primary-content hover:underline hover:cursor-pointer">
        Sign in
      </a>
    </span>
  </form>
</Modal>