---
// register.astro
// - Only contains register modal HTML, used as a partial page.
// - Works with 'auth.ts' for authentication logic.
// - Shows errors via <FormErrors /> component.
// - Redirects to home page if user is logged in.
// - Uses 'data-astro-reload' to avoid clashes between Astro ViewTransitions and htmx.

import { register, getUser } from "../../auth.ts";
import { redirectWithHtmx } from "../../utils";
import Modal from "../../components/Modal.astro";
import SocialButton from "../../components/auth/SocialButton.astro";
import FormErrors from "../../components/auth/FormErrors.astro";

export const prerender = false
export const partial = true

const { request } = Astro;
const { isLoggedIn } = await getUser();

if (isLoggedIn) {
  return redirectWithHtmx("/");
}

let errors = [];

if (request.method === 'POST') {
  const formData = await request.formData();
  const result = await register({ formData });
  errors = result.errors;

  if (!errors.length) {
    return redirectWithHtmx("/");
  }
}
---

<Modal>
  <h3 class="text-xl font-bold mb-6">
    Create your account
  </h3>

  <form hx-post="/auth/register/"
        hx-swap="outerHTML"
        hx-target=".modal"
        data-astro-reload>

    {errors.length > 0 && <FormErrors errors={errors} />}

    <input type="email" name="email" placeholder="Email address" autocomplete="email" maxlength="320" class="input input-bordered input-ghost w-full mb-4">
    <input type="password" name="password" placeholder="Password" autocomplete="new-password" class="input input-bordered input-ghost w-full mb-4">

    <button type="submit" class="btn btn-warning w-full mb-4">
      Sign Up
    </button>

    <span class="text-sm text-center font-light text-warning-600 dark:text-primary-500">
      Already have an account?
      <a id="sign-up-link"
         hx-get="/auth/login/"
         hx-swap="outerHTML"
         hx-target=".modal"
         class="font-medium text-primary-content hover:underline hover:cursor-pointer">
        Sign in
      </a>
    </span>

    <span class="divider text-sm flex justify-center mb-6">OR</span>

    <div class="flex justify-center items-center gap-4">
      <SocialButton provider="google" icon="ri:google-fill" />
      <SocialButton provider="discord" icon="ri:discord-fill" />
      <SocialButton provider="github" icon="ri:github-fill" />
    </div>
  </form>
</Modal>