---
import Modal from "../../components/Modal.astro";
---

<Modal>
  <h3 class="font-bold text-xl mb-4">
    Password Reset
  </h3>

  <div>
    <p class="mb-4">
      Hey chief,
      I just emailed a link to reset your password.
      If you don't see the email, check your spam folder.
    </p>
    <p class="text-sm font-light">
      Want to try signing in again?
      <a id="back-to-login-link"
         hx-get="/auth/signin"
         hx-target="body"
         hx-swap="beforeend"
         class="font-medium text-primary-content hover:underline hover:cursor-pointer">
        Sign in
      </a>
    </p>
  </div>
</Modal>
