---
import ChatMessage from "../../../components/chat/ChatMessage.astro"
---
<div id="typing-indicator" class="order-1">
    <ChatMessage sender="gpt">
        <span class="loading loading-dots loading-sm"></span>
    </ChatMessage>
</div>