---
import DiscordLogo from "./DiscordLogo.astro";

const { href } = Astro.props;
---

<a
  id="discord-invite-link"
  {href}
  title="Join the Discord server"
  class="discord-logo-container btn btn-square btn-ghost hover:bg-[#3a45b7] hover:text-white"
  target="_blank"
>
  <DiscordLogo class="size-9" />
</a>
