---
import DiscordLogo from "./DiscordLogo.astro";

const { inviteLink, label = "Discord Server", class: className } = Astro.props;
---

{/* `discord-logo-container` is a special class that triggers the spinning Discord logo animation */}
{/* See more inside `DiscordLogo.astro` */}
    <a id="discord-invite-link"
       title="Join the Discord server"
       class={`${className} discord-logo-container btn btn-square btn-ghost hover:bg-[#3a45b7] text-base-content hover:text-white font-bold flex-nowrap`}
       href={inviteLink}
       target="_blank">
        <DiscordLogo class="w-9 h-9" />
    </a>