---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ObnoxiousButton from '../components/home/ObnoxiousButton.astro';
import HeroSection from '../components/home/HeroSection.astro';
---

<Layout title="Your Path To Full Stack Python">
  <div class="flex flex-col lg:flex-row items-center justify-center mt-8 sm:mt-16 md:mt-20 lg:mt-24 xl:mt-28">

  <HeroSection>

    <ObnoxiousButton/>

    <span id="hidden-message" class="mt-3" style="opacity: 0">
      I want to work with persistent people like you.
    </span>
  </HeroSection>
  
  </div>

</Layout>
