---
import Modal from "../components/Modal.astro";
---

<Modal>
  <h3 id="password-reset-title" class="font-bold text-xl mb-6">
    Reset Your Password
  </h3>

  <form id="password-reset-form"
        hx-post="/api/auth/reset_password"
        hx-target="body"
        hx-swap="beforeend">

    <input type="email" name="email" placeholder="Email address" autocomplete="email" maxlength="320" class="input input-bordered input-ghost w-full mb-4">

    <button id="reset-password-button" class="btn btn-warning w-full mb-4">
      Send Reset Link
    </button>

    <span class="text-sm font-light text-primary-600">
      Remembered your password?
      <a id="back-to-login-link"
         hx-get="/signin"
         hx-target="body"
         hx-swap="beforeend"
         class="font-medium text-primary-content hover:underline hover:cursor-pointer">
        Sign in
      </a>
    </span>
  </form>
</Modal>