---
/*
  If the login form has errors, HTMX will render them in a new modal dialog.
  Otherwise, if login is successful, hyperscript will reload the page.
*/

import Modal from "../components/Modal.astro";
import { Icon } from 'astro-icon/components';

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  return redirect("/");
}
---
<Modal>
  <h3 id="login-title" class="text-xl font-bold mb-6">
    Sign in to your account
  </h3>

  <form id="login-form" action="/api/auth/signin" method="POST">

    <input type="email" name="login" placeholder="Email address" autocomplete="email" maxlength="320" class="input input-bordered input-ghost w-full mb-4">
    <input type="password" name="password" placeholder="Password" autocomplete="current-password" class="input input-bordered input-ghost w-full mb-4">

    <div class="flex justify-between align-middle mb-4">
      <label id="remember-me-label" class="cursor-pointer flex label-text">
        <input id="remember-me-input" class="checkbox me-2" type="checkbox" checked />
        Remember me
      </label>
      <a id="forgot-password-link"
         hx-get="/reset_password"
         hx-target="body"
         hx-swap="beforeend"
         class="text-sm font-medium text-primary-content hover:underline hover:cursor-pointer">
        Forgot password?
      </a>
    </div>

    <button id="login-button" class="btn btn-warning w-full mb-4">
      Login
    </button>

    <span class="text-sm text-center font-light text-warning-600 dark:text-primary-500">
      Don’t have an account yet?
      <a id="sign-up-link"
         hx-get="/register"
         hx-target="body"
         hx-swap="beforeend"
         class="font-medium text-primary-content hover:underline hover:cursor-pointer">
        Sign up
      </a>
    </span>

    <span class="divider text-sm flex justify-center mb-6">OR</span>

    <div class="flex justify-center items-center gap-4">
      <button class="hover:text-gray-100" value="google" name="provider" type="submit">
        <Icon name="ri:google-fill" class="size-6" />
      </button>

      <button class="hover:text-gray-100" value="github" name="provider" type="submit">
        <Icon name="ri:github-fill" class="size-6" />
      </button>

      <button class="hover:text-gray-100" value="discord" name="provider" type="submit">
        <Icon name="ri:discord-fill" class="size-6" />
      </button>
    </div>
  </form>
</Modal>
