---
import { getUser } from "../auth";

import LoginButtonSquare from "../components/auth/LoginButton.astro";
import UserDropdown from "../components/auth/UserDropdown.astro";
import LogoutButton from "../components/auth/LogoutButton.astro";

const { cookies } = Astro;

const { isLoggedIn, avatarUrl, userEmail } = await getUser()
---
<div id="hydrated-navbar" class="animate-fade" _="init wait 0.5s remove .animate-fade">
    {isLoggedIn ? (

            <UserDropdown avatarUrl={avatarUrl} userEmail={userEmail}>
                <li>
                    <LogoutButton hx-get="/auth/logout/"
                                  hx-target="body"
                                  hx-swap="beforeend" />
                </li>
            </UserDropdown>

    ) : (

            <LoginButtonSquare hx-get="/auth/login/"
                               hx-target="body"
                               hx-swap="beforeend" />

    )}
</div>