<div id="hero-section" class="flex flex-col items-center justify-center min-w-[50%] flex-grow lg:h-auto mb-6 sm:mb-0 p-6 text-center prose">
  <div class="flex flex-col items-center sm:flex-row sm:mb-3">
    <img src="images/python-logo.webp" alt="Python Logo" class="w-16 h-16 mb-3 m-0 sm:mb-0 sm:me-4">

    <div class="flex flex-col justify-start">
      <h1 class="text-5xl text-gray-300 font-mono tracking-wide xl:tracking-wider mb-0 lg:whitespace-nowrap">
        The Pyoneer Project
      </h1>
      <span class="text-xl text-center sm:text-start">
      For the ambitious, by the ambitious
      </span>
    </div>
  </div>

  <p class="text-2xl text-gray-300 2xl:my-6">
    Learn Full-Stack Python & Django the way I wish I had.
  </p>

  <span class="sm:mt-3 mb-6">
    You won't get these tips from ChatGPT
  </span>
  
  <slot/>
</div>