---
// AnnouncementBar.astro

interface Props {
    highlightText: string;
    message: string;
    href: string;
}
const { highlightText = 'New', href = '', message} = Astro.props;
---
<a href={href}
   class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-base-content bg-base-100/70 backdrop-blur border border-base-100 hover:bg-base-content/10 hover:border-gray-700 rounded-full"
   role="alert">
    <span class="text-xs bg-warning rounded-full text-black px-4 py-1.5 mr-3">
        {highlightText}
    </span>
    <span class="text-sm font-medium">
        {message}
    </span>
    <svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
</a>