---
// BouncingAlert.astro

interface Props {
    href: string,
    message: string,
}
const { message, href } = Astro.props
---

<a {href} class="flex flex-col justify-center items-center cursor-pointer animate-bounce">
    <span class="text-xl md:text-2xl mb-4 md:mb-6">
        {message}
    </span>

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 md:w-6 md:h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
    </svg>
</a>
