---
// ChatMessage.astro

import { Image } from 'astro:assets';

interface Props {
  from?: 'user' | 'gigachad';
}

const { from } = Astro.props;

let chatClasses = from === 'user' ? 'chat-end' : 'chat-start';
let chatBubbleClasses = from === 'user' ? '' : 'bg-base-100/60';
let imageSrc = from === 'user' ? '/avatar-default.webp' : '/avatar-10x-giga-chad.webp';
let altText = from === 'user' ? 'User Avatar' : 'Gigachad Avatar';
---

<div class={`chat ${chatClasses}`}>
    <div class="chat-image avatar">
        <div class="w-10 rounded-full">
            <Image src={imageSrc} width="40" height="40" alt={altText}/>
        </div>
    </div>
    <div class={`chat-bubble ${chatBubbleClasses}`}>
        <slot/>
    </div>
</div>

