---
import {Icon} from "astro-icon/components";

const { toggleId = 'drawer', class: classList } = Astro.props
---
{/* Hamburger Menu Toggle - Opens/Closes Side Menu */}
{/* Toggles <input id="drawer-toggle"... /> within Drawer.astro */}
<label for={toggleId}
       class:list={[classList, "btn btn-square btn-ghost swap swap-rotate"]}
       _={`on change from #${toggleId} toggle .swap-active`}>
    <Icon name="solar:hamburger-menu-outline" class="swap-off h-8 w-8" />
    <Icon name="ion:close" class="swap-on h-8 w-8" />
</label>