---
import { Icon } from "astro-icon/components";

const { class: className, ...rest } = Astro.props;
---

<footer
  class={`${className} p-12 pb-16 container mx-auto text-base-content text-center`}
  {...rest}
>
  <div class="flex items-center justify-center space-x-4 p-2">
    <a
      href="https://github.com/scriptogre"
      target="_blank"
      class="hover:text-gray-100"
      aria-label="Github"
    >
      <Icon name="ri:github-fill" class="size-6" />
    </a>

    <a
      href="https://www.linkedin.com/in/christian-tanul-94333a17a/"
      target="_blank"
      class="hover:text-gray-100"
      aria-label="LinkedIn"
    >
      <i class="w-5">
        <Icon name="ri:linkedin-fill" class="size-6" />
      </i>
    </a>
  </div>

  <div class="pt-2 text-xs">Copyright © 2023 Scriptogre LLC</div>
</footer>
