---
import { Icon } from 'astro-icon/components';
---
<div class="tooltip tooltip-bottom" data-tip="Login">
  <a id="login-button" class="btn btn-square btn-ghost"
     hx-get="/signin" hx-target="body" hx-swap="beforeend">
    <Icon name="mdi:login" class="w-6 h-6" />
  </a>
</div>
