---
import DiscordJoinButton from "./discord/DiscordJoinButton.astro";
import HamburgerButton from "./HamburgerButton.astro";
import LogoText from "./Logo.astro";
import LoginButton from "./auth/LoginButton.astro";

const { class: classList, ...rest } = Astro.props
---
<nav id="top-nav" class:list={[
         classList,
         "px-4 xs:*:space-x-2 no-animation sticky navbar top-0 z-30 bg-custom-gradient bg-opacity-90 bg-fixed backdrop-blur border-b border-base-100"
     ]}
     {...rest}>

    <div class="navbar-start">

        <HamburgerButton for="drawer-toggle" />

        <LogoText href="/" />

    </div>

    <div class="navbar-end">

        <DiscordJoinButton href="https://discord.gg/TSMacaF9SG" />

        <div hx-get="/user_or_login/" hx-trigger="load" />
    </div>
</nav>