---
import DiscordJoinButton from "./discord/JoinButton.astro";
import UserOrLogin from "./UserOrLogin.svelte";
import HamburgerButton from "./HamburgerButton.astro";
import LogoText from "./LogoText.astro";

const { class: classList, ...rest } = Astro.props
---
<nav id="top-nav" class:list={[
         classList,
         "no-animation sticky navbar top-0 z-30 bg-custom-gradient bg-opacity-90 bg-fixed backdrop-blur border-b border-base-100"
     ]}
     {...rest}>

    <div class="navbar-start xs:space-x-2">

        <HamburgerButton for="drawer-toggle" />

        <LogoText href="/" />

    </div>

    <div class="navbar-end xs:space-x-2">

        <DiscordJoinButton href="https://discord.gg/TSMacaF9SG" />

        <UserOrLogin client:load />

    </div>
</nav>