---
const { src } = Astro.props
---
<div id="avatar-wrapper" class="avatar online block xs:mb-1">
    <div class="rounded-full w-9 xs:w-10">
        <a class="cursor-pointer">
            <img id="avatar" {src} />
        </a>
    </div>
</div>