---
import {getCollection} from "astro:content";
import ContentLayout from "../../layouts/ContentLayout.astro";

import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";

dayjs.extend(utc);

export async function getStaticPaths({ paginate }) {
    const blogs = await getCollection('blogs');

    return blogs.map(blog => {
        return {
            params: { blog: blog.slug },
            props: { blog }
        }
    });
}

const { blog } = Astro.props;
const { Content: BlogContent, remarkPluginFrontmatter } = await blog.render();

const lastModified = dayjs(remarkPluginFrontmatter.lastModified)
  .utc()
  .format("HH:mm:ss DD MMMM YYYY UTC");

console.log(lastModified)

let blogTitle = blog.data.title;
---
<ContentLayout title={`${blogTitle}`}>
    <h1 slot="header" class="text-4xl mt-4">
        {blogTitle}
    </h1>

    <BlogContent slot="content" />
</ContentLayout>
