---
import GoldenCard from "./GoldenCard.astro";

interface Props {
  title: string;
  description: string;
  href: string;
}
const {
  title = "The Key 🔑",
  description = "Press the golden card to unlock content!",
} = Astro.props;
---

<section
  id="announcement-section"
  class="grid h-screen place-content-center py-6 text-center"
>
  <div class="mb-4">
    <span class="text-4xl">
      {title}
    </span>
  </div>
  <div class="mb-4 lg:mb-8">
    <span class="prose text-xl">
      {description}
    </span>
  </div>
  <div class="mb-4 flex justify-center lg:mb-8">
    <svg
      class="size-6"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M15.75 17.25L12 21m0 0l-3.75-3.75M12 21V3"></path>
    </svg>
  </div>

  <a
    href="/stripe/create_checkout_session"
    data-astro-reload
    class="group cursor-pointer transition-transform duration-500 ease-in-out"
  >
    <GoldenCard />
  </a>
</section>
