---
import { Icon } from "astro-icon/components";

interface Props {
  href: string;
  highlightText: string;
  message: string;
  class: string;
}
const {
  href = "",
  highlightText = "New",
  message,
  class: classList,
} = Astro.props;
---

<a
  href={href}
  class={`${classList} inline-flex items-center justify-between rounded-full border border-base-100 bg-base-100/60 px-1 py-1 pr-4 text-sm text-base-content backdrop-blur hover:border-gray-700 hover:bg-base-content/10`}
  role="alert"
>
  <span class="mr-3 rounded-full bg-warning px-4 py-1.5 text-xs text-black">
    {highlightText}
  </span>

  <span class="mr-2 whitespace-nowrap text-sm font-medium">
    {message}
  </span>

  <Icon name="mdi:chevron-right" class="size-5" />
</a>
