---
import { Icon } from "astro-icon/components";
---

<div
  id="offer-section"
  class="mx-auto flex flex-col items-center justify-between text-center"
>
  <div class="pb-12">
    <h2 class="pb-4 text-4xl">
      Our Approach
      <Icon name="thinking-emoji" class="inline" />
    </h2>
    <p class="text-lg">What should you expect?</p>
  </div>
  <div class="mb-24 grid grid-cols-1 gap-8 lg:grid-cols-3 lg:gap-16">
    <div
      class="rounded-box h-56 w-96 border border-base-100 bg-base-100/20 p-8"
    >
      <span class="text-4xl">⚡️</span>
      <h3 class="mb-2 text-2xl">Fast</h3>
      <p class="text-lg">
        We don't waste time. We get you to the next level as fast as possible.
      </p>
    </div>
    <div
      class="rounded-box h-56 w-96 border border-base-100 bg-base-100/20 p-8"
    >
      <span class="text-4xl">🤖</span>
      <h3 class="mb-2 text-2xl">AI Assisted</h3>
      <p class="text-lg">
        We believe in the power of AI for learning. We offer tips to harness it.
      </p>
    </div>
    <div
      class="rounded-box h-56 w-96 border border-base-100 bg-base-100/20 p-8"
    >
      <span class="text-4xl">👋</span>
      <h3 class="mb-2 text-2xl">Hands-on</h3>
      <p class="text-lg">
        Learn on real projects. No wasting time on toy apps.
      </p>
    </div>
  </div>
</div>
