---
// checkout_success.astro
// Informs the user about successful Stripe checkout and redirects to the home page.

import Modal from "../../components/Modal.astro";
import { Icon } from "astro-icon/components";
import { getUser } from "../../auth";

const { userEmail, isLoggedIn } = await getUser();

if (!isLoggedIn) {
  return Astro.redirect("/auth/login");
}
export const prerender = false;
export const partial = true;
---

<Modal>
  <h3 class="mb-4 text-xl font-bold">Checkout Success</h3>

  <div>
    <p class="mb-4">
      Congratulations! Your account ({userEmail}) should immediately have access
      to the content you purchased.
    </p>

    <form method="dialog" class="modal-action">
      <button type="submit" class="btn btn-warning">
        <Icon name="ri:check-fill" class="size-8" />
        Ok
      </button>
    </form>
  </div>
</Modal>
