---
// <SocialButton /> component
// - Uses the Icon component from astro-icon (https://www.astroicon.dev/)
// - Uses icons from `@iconify-json/*` packages (to be installed locally and added to `astro.config.mjs`)

import { Icon } from 'astro-icon/components';
const { provider, icon } = Astro.props;
---

  <button name="provider"
          value={provider}
          class="hover:text-gray-100">
    <Icon name={icon} class="size-6" />
  </button>