---
import { Image } from "astro:assets";

const { avatarUrl, userEmail } = Astro.props;
---

<div class="dropdown dropdown-end dropdown-bottom">
  <div tabindex="0" role="button" class="btn btn-circle btn-ghost">
    <span class="avatar size-10">
      <Image
        src={avatarUrl || "/user-avatar.webp"}
        alt="User Avatar"
        width="40"
        height="40"
        class="rounded-full"
      />
    </span>
  </div>

  <ul
    tabindex="0"
    class="menu dropdown-content rounded-xl border border-base-100 bg-base-100/60 text-sm font-semibold text-base-content backdrop-blur"
  >
    <li class="menu-title">
      <span class="text-sm text-base-content">{userEmail}</span>
    </li>
    <slot />
  </ul>
</div>
